<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout}">
<head>
	<title>Veículo</title>
</head>
<body>
	
	<h1 layout:fragment="header">Veículo</h1>
	<div layout:fragment="content">
		
		<form id="veiculoForm" th:action="@{/veiculos/(form)}" th:object="${veiculo}" action="#" method="post">
			
			<div class="form-group">
				<label for="veiculoPlaca">Placa:</label>
				<input id="veiculoPlaca" class="form-control" type="text" th:field="*{placa}" placeholder="Placa">
			</div>
			<div class="form-group">
				<label for="veiculoMotorista">Motorista:</label>
				<select id="veiculoMotorista" th:field="*{motorista}" class="form-control">
					<option value="">Selecione o motorista</option>
					<option th:each="motorista : ${motoristas}" th:value="${motorista.id}" th:text="${motorista.nome}" ></option>
				</select>
			</div>
			
			<button type="submit" class="btn btn-primary btn-block btn-lg">Gravar</button>
			<a th:href="@{/veiculos/}" class="btn btn-secondary btn-block btn-lg">Voltar</a>
			
		</form>
		
	</div>
	
</body>
</html>