<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<title>Clientes</title>
</head>
<body>
	
	<h1 layout:fragment="header">Lista de Clientes</h1>
	
	<div layout:fragment="content">
		
		<a th:href="@{/clientes/novo}" class="btn btn-primary btn-lg active btn-block mb-1" role="button" aria-pressed="true">Novo cliente</a>
		<div class="alert alert-success" th:if="${globalMessage}" th:text="${globalMessage}">mensagem</div>
		
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nome</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${clientes.empty}">
					<td colspan="2">Sem clientes</td>
				</tr>
				
				<tr th:each="cliente : ${clientes}">
					<th scope="row" th:text="${cliente.id}"></th>
					<td><a th:href="@{'/clientes/'+${cliente.id}}" th:text="${cliente.nome}"></a></td>
				</tr>
			</tbody>
		</table>
		
	</div>
	
</body>
</html>