<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<title>Painel de controle</title>
</head>

<body>

	<h1 layout:fragment="header">Painel de controle</h1>
	
	<div layout:fragment="content">
	
		<div class="jumbotron">
			<a th:href="@{/clientes/}" class="btn btn-lg btn-info m-1">Clientes</a>
			<a th:href="@{/motoristas/}" class="btn btn-lg btn-info m-1">Motoristas</a>
			<a th:href="@{/veiculos/}" class="btn btn-lg btn-info m-1">Veículos</a>
			<a th:href="@{/pedidos/}" class="btn btn-lg btn-info m-1">Pedidos</a>
			<a th:href="@{/entregas/}" class="btn btn-lg btn-info m-1">Entregas</a>
			<a th:href="@{/itens/}" class="btn btn-lg btn-info m-1">Itens</a>
		</div>
		
	</div>
	
</body>
</html>