<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Logistica</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel='stylesheet'>
</head>
<body>
	
	<nav class="navbar sticky-top navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/}">Logistica</a>
	</nav>
	
	<div class="container-fluid">

		<h1 layout:fragment="header" class="h2 m-2"></h1>
		<div layout:fragment="content"></div>
		
		<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/1.14.1/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
	
	</div>
	
</body>
</html>