<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Logistica</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel='stylesheet' href='/webjars/bootstrap/4.1.0/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/webjars/bootstrap/4.1.0/css/bootstrap-theme.min.css'/>
	<script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>	
</head>
<body>
	
	<nav class="navbar sticky-top navbar-dark bg-dark">
		
		<a class="navbar-brand" th:href="@{/}">Logistica</a>
		
	</nav>
	
	<div class="container-fluid" style="margin-top: 50px">

		<h1 layout:fragment="header">cabeçalho falso</h1>
		<div layout:fragment="content">content falso</div>
		
	</div>

</body>
</html>