<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<title>Itens</title>
</head>
<body>
	<h1 layout:fragment="header">Itens</h1>
	
	<div layout:fragment="content">
		
		<a th:href="@{/itens/novo}" class="btn btn-primary btn-lg active btn-block mb-1" role="button" aria-pressed="true">Novo</a>
		
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nome</th>
					<th scope="col">Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${itens.empty}">
					<td colspan="2">Sem itens</td>
				</tr>
				
				<tr th:each="item : ${itens}">
					<th scope="row" th:text="${item.id}"></th>
					<td th:text="${item.nome}"></td>
					<td th:text="${item.valor}"></td>
				</tr>
				
			</tbody>
		</table>
		
	</div>
	
</body>

</html>
		